# Gitignore for Laravel
/node_modules/
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
*.log
.sass-cache
.cache
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.idea
.vscode